*{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.box{
	width: 100%;
}

.boxcontainer{
	padding-left: 1%;
    padding-right: 1%;
	border: 1px solid white;
	display: flex;
	flex-direction: row;
    align-content: center;
	justify-content: space-between;

}

.heading{
	text-align: center;
	margin-top: 40px;
    margin-bottom: 50px;
}


.box{
	width: 31%;
	height: 150px;
	border: 1px solid black;
	background-color: gray;
}

.paragraph{
	width: calc(100% - 30px);
	height: 150px;
	font-size: 90%;
	margin: auto;
	padding: 15px;
	padding-top: 0;

}

.sushi-color{
	background-color: khaki;

}

.beef-color{
	background-color: tomato;
	color: white;
}

.chicken-color{
	background-color: bisque;
}

.sub-title-box{
	width: 150px;
	height: 25px;
	text-align: center;
	border: 1px solid black;
	float: right;
	display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 200px) {  
	.box{
		margin-top:4%;
		width:100%;
	}

	.boxcontainer{
		flex-wrap: wrap;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
	.box{
		width: 47%;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.box{
		width:31%
	}
 }


